* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: DarkOrange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.gameField {
    display: grid;
    aspect-ratio: 1 / 1;
    width: 90vw;
    height: auto;
}

@media (min-aspect-ratio: 1 / 1) {
    .gameField {
        height: 90vh;
        width: auto;
    }
}

.tile {
    background-color: grey;
}

.visited-tile {
    background-color: black;
}

