:root {
    --button:  #7542e4;
    --button-pressed: #4217A1;
    --orange:  darkorange;
    --pale:  #fff4de;
}

* {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    margin: none;
    padding: none;
}

html {
    font-size: 16px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--orange);
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

body > div:not(.game-field) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

body > div:not(.game-field) > * {
    flex: 1;
}

.game-field {
    aspect-ratio: 1 / 1;
    display: grid;
    gap: 0;
}

button {
    background-color: var(--button);
    border-radius: 3.5rem;
    border: 0.4rem solid black;
    padding: 1rem;
}

button:active {
    background-color: var(--button-pressed);
}

.tile {
    background-color: var(--pale);
}

.visited {
    background-color: black;
}

