:root {
    --violet:  #7542e4;
    --orange:  darkorange;
    --pale:  #fff4de;
}

* {
    font-size: 3rem;
    border: none;
    margin: none;
    padding: none;

    touch-action: manipulation;
}

html {
    font-size: 16px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--orange);
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body > div:not(.game-field) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

body > div:not(.game-field) > * {
    flex: 1;
}

.game-field {
    aspect-ratio: 1 / 1;
    display: grid;
}

button {
    background-color: var(--violet);
    border-radius: 3.5rem;
    border: 0.4rem solid black;
    padding: 1rem;
}

.tile {
    background-color: var(--pale);
}

.visited {
    background-color: black;
}

